alias g='git'
alias v='vim'
alias sl='ls'
alias d='du -sc'
alias mvn='mvn -DrootDir=$CGIT -T 8'
alias mvn6='JAVA_HOME=/usr/lib/jvm/java-6-sun/ mvn -T 8'
alias mustang='ssh mustang'
alias ....='cd ../../../../'
alias sag='sudo apt-get -q'
alias sac='sudo apt-cache'
alias l='lcd'
alias mplayerl='mplayer -loop 0'


function checkmerge() {
    /home/aramesh/git/conviva_git/scripts/checkmerge.py --from "$1" --to "$2" --user aramesh --onlyopen
}

function no_port() {
    /home/aramesh/git/conviva_git/scripts/checkmerge.py --mark-no-port "$1"
}

function lcd() {
    cd "$1";
    if [ "$2" ]; then
        ls "$1"
    else
        ls
    fi
}

function sql1eng() {
    printf "%s.sql1.eng.conviva.com" "$1"
}

function ssql1eng() {
    ssh `sql1eng $1`
}

function sql1corp() {
    printf "%s.sql1.corp.conviva.com" "$1"
}

function ssql1corp() {
    ssh `sql1corp $1`
}

function grepf() {
    grep "$1" -ril "$2";
}

function hdfs_exec() {
    sudo -u hdfs hadoop fs $@
}

function sjc() {
    printf "%s.sjc1.eng.conviva.com" "$1"
}

function prod() {
    printf "%s.iad1.prod.conviva.com" "$1"
}

function staging() {
    printf "%s.iad1.staging.conviva.com" "$1"
}

function euprod() {
    printf "%s.eu-west-1.prod.conviva.com" "$1"
}

function ssjc() {
    ssh `sjc $1`
}

function sprod() {
    ssh `prod $1`
}
function sstaging() {
    ssh `staging $1`
}
function seuprod() {
    ssh `euprod $1`
}

function usprod() {
    printf "%s.us-west-2.prod.conviva.com" "$1"
}

function susprod() {
    ssh `usprod $1`
}

function psgrep() {
    ps -ef | grep "$1"
}

function repeat() {
    while true; do $1; sleep $2; done
}

function fori() {
    for i in `seq 1 $1`
    do
        $2
    done
}
