alias g='git'
alias v='vim'
alias sl='ls'
alias d='du -sc'
alias mvn='mvn -T 8'


function lcd() {
    cd "$2";
    ls "$1";
}

function grepf() {
    grep "$1" -ril "$2";
}

function hdfs_exec() {
    sudo -u hdfs hadoop fs $@
}

function psgrep() {
    ps -ef | grep "$1"
}

function repeat() {
    while true; do $1; sleep $2; done
}

function fori() {
    for i in `seq 1 $1`
    do
        $2
    done
}
